body {
    background: url(../images/bg.jpeg);
    background-size: cover;
    font-family: sans-serif;
    color: #fff;
}
.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 160px;
    background-color: #000000dd;
    padding: 20px 50px;
}
h1 {
    float: left;
    font-size: 43px;
    padding-bottom: 7px;
    border-bottom: 5px solid #4caf50;
}
.textbox {
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: solid #4caf50 1px;
    width: 100%;
    clear: both;
}
input {
    border: 0;
    background: 0;
    outline: 0;
    font-size: 21px;
    color: #fff;
}
img {
    float: left;
    width: 30px;
}
button {
    width: 100%;
    font-weight: bold;
    padding: 8px 0;
    margin: 12px 0;
    font-size: 18px;
    background: 0;
    border: 2px solid #4caf50;
    color: #4caf50;
    cursor: pointer;
    transition: all .3s;
}
button:hover {
    background: #4caf50;
    color: #fff;
}
i {
    float: left;
    text-align: center;
    width: 26px;
    padding-top: 5px;
}